@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to TimeCrafters</h1>
    <p class="lead">Explore our collection of stylish and reliable watches.</p>
    <hr class="my-4">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>About TimeCrafters</h2>
            <p>TimeCrafters is a watch company that has been providing high-quality watches for over 20 years. Our watches are designed to be stylish, reliable, and affordable.</p>
            <p>We believe that a watch should not only be a functional accessory but also a fashion statement. That's why we offer a wide variety of designs to fit any style.</p>
            <hr class="my-4">
            <p>Our watches are designed to fit any lifestyle and occasion.</p>
            <a class="btn btn-primary btn-lg" href="/Home/Product" role="button">Shop Now</a>
        </div>
    </div>
</div>
